div {
  box-sizing: border-box;
}
.card-container {
  padding: 10px;
  float:left;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 33%;
  }
  @media screen and (min-width: 992px) {
    width: 25%;
  }
}

.app-container {
  max-width: 1200px;
  display:block;
  margin: 0 auto;
}
